@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1>Welcome to Saturday training Session</h1>
    <h1>At 4:30 PM </h1>
    <h1>To 5:30 PM </h1>
</div>*@
<form>
   <h1>this is vikram test</h1>
</form>
